.larz-page{
    background: rgb(21, 18, 33);
}

.info-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.content{
    color: white;
    background-color: rgb(36, 35, 46);
    width: 80%;
    margin: auto;
    padding: 3rem 2rem 2rem;

    &-title{
        font-size: 2rem;
    }

    &-larz{
        margin: 1rem 0;
        font-size: 1.4rem;
        letter-spacing: 1.2px;
        line-height: 2;

        .name{
            font-size: 1.5rem;
            margin-bottom: 1rem;
            span{
                font-size: 1.5rem;
                margin-bottom: 1rem;
            }
        }
        h1,h2,h3{
            margin: 12px 0;
        }
    }

    .mobile{
        display: none;
    }

    @media screen and (max-width: 768px){
        .pc{
            display: none;
        }
        .mobile{
            display: block;
        }

        .name span{
            display: none;
        }
    }   

}

@media screen and (max-width:768px){
    .info-page{
        padding: 12px;
    }
}

@media screen and (max-width:500px){

    .info-page{
        padding: 10px;
    }

    .content{

        padding: 20px 20px;
        width: 96%;
        &-title{
            font-size: 1.4rem;
        }

        &-larz{
            
            .name{
                font-size: 1rem;
                letter-spacing: .2px;
            }
        }
    }
}