<div class="body-like">
    <div class="container info-page">
        <div class="content">
            <h1 class="content-title">Let Me Introduce Myself</h1>
            <div class="content-larz pc">
                <h1 class="name">Hi! I'm Larz Thimoty S. Pal-ing</h1>
                <h3>I'm currently a 3rd Year student of Bachelor of Science in Computer Science.</h3>
                <h3>Born in October 24, 1996, currently at 23 years of age.</h3>
                <h3>I love listening to music and playing keyboard as well as playing video games</h3>
                <h3>I also found myself enjoying web development recently making my quarantine more productive.</h3>
            </div>
            <div class="content-larz mobile">
                <h1 class="name"> <span>Hi! I'm </span>Larz Thimoty S. Pal-ing</h1>
                <h3>A 3rd Year BSCS Student</h3>
                <h3>Born in Oct,24,1996</h3>
                <h3>23 Years of Age</h3>
                <h3>I Love Music</h3>
                <h3>Enjoys Web Dev</h3>
            </div>
            <a class="back-btn" asp-area="" asp-controller="Home" asp-action="Index"><< <span>Back</span></a>
        </div>
    </div>
</div>
