<div class="container landing-page">
    <h1 class="subject-title">Application Development and Emerging Technologies</h1>
    <div class="cta-section">
        <h3 class="self-introduction">Hi! I'm Larz</h3>
        <a class="cta" asp-area="" asp-controller="Home" asp-action="About">Get To Know Me!</a>
    </div>
</div>
